alignn/alignn/data_formula_atom/matbench_mp_bandgap/formula_cif/
alignn/alignn/data_formula_atom/matbench_mp_gap.json
alignn/alignn/data_formula_atom/mp.2018.6.1.json
cgcnn-master/
data/
roost/data/
CrabNet/twoway_prop_stru/
alignn/alignn/data_formula_atom/
alignn/alignn/formula_embedding_eval.pkl
CrabNet/melting_point_data/
attention-is-all-you-need-pytorch/
CrabNet/models/
roost/models/
